<div class="content">

    <swiper-container
    #mySwiper
    [pagination]="true"
    >
        <swiper-slide *ngFor="let slide of slides">
            <div style="width: 100px; height: 100px; background-color: red;">
                <h1>{{slide}}</h1>
            </div>
        </swiper-slide>
    </swiper-container>

    <button (click)="addNumber()" class="btn btn-dark btn-block">Agregar</button>
    <button (click)="deleteNumber()" class="btn btn-dark btn-block">Eliminar</button>
        
    <div class="row">
            <div class="col-md-6">
                <div class="image-container">
                    <img src="../../../assets/historia/historia.jpeg">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-container">
                    <h1>Nuestra historia</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nisi ad deleniti veniam nobis excepturi corporis dolor quibusdam facere neque unde praesentium maxime, voluptas aliquid, voluptatibus officiis molestias eligendi velit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet tempore blanditiis culpa omnis aut nesciunt. Dolorem, veritatis cum. Nam harum vel culpa impedit blanditiis. Aut obcaecati ex inventore facilis sint.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam repellendus vitae ipsum recusandae ad corporis nesciunt veritatis nemo reiciendis maxime excepturi, magnam neque incidunt necessitatibus eum fugit ab dicta id!</p>
                </div>
            </div>
        </div>
    


</div>
